.navbar ul{
    margin: 0 auto;
}

.facturation{
    display: flex;
    justify-content: space-between;
    margin : 20px;
}

.facturation__client,.facturation__info{
    display: flex;
    flex-direction: column;
}

body{
    background: #f2f2f2;
}

thead{
    background: #414141;
    color:#fff;
}