{% extends 'base.html.twig' %}

{% block title %}Liste type matériel{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center mt-3">Liste des types matériels</h3>
        <a href="{{ path('sous_type_new') }}" class="btn btn-primary mb-2">Nouveau type matériel</a>
        {% include "partials/notification.html.twig" %}
        <table class="table" id="example">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sous_type in sous_types %}
                <tr>
                    <td>{{ sous_type.descrSousType }}</td>
                    <td>
                        <a href="{{ path('sous_type_edit', {'id': sous_type.id}) }}" class="btn btn-info">Editer</a>
                        <a href="{{ path('sous_type_delete', {'id': sous_type.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr align="center">
                    <td colspan="2">Aucun type matériel</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "partials/footer.html.twig" %}
{% endblock %}
