{% extends 'base.html.twig' %}

{% block title %}Modif client{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center mt-2">Modification</h3>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">Enregistrer</button>
            <a href="{{ path('client_index') }}" class="btn btn-warning">Retourner</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
